parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - '#id is never written, only read#'
    excludePaths:
        - src/Runtime/SwooleServer/TcpServer.php