parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
#    ignoreErrors:
#        - '#id is never written, only read#'
