<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/_support/_bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnError="true"
         stopOnFailure="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="CountryCity Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./_support</directory>
            <exclude>
                <directory>./.github</directory>
                <directory>./app</directory>
                <directory>./public</directory>
                <directory>./vendor</directory>
                <directory>./writable</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
