name: '7.4 - darwin'
on: [push]
jobs:
  run:    
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [macOS-latest]
        coverage: [xdebug, pcov, none]
    name: PHP 7.4 Test on ${{ matrix.operating-system }} with ${{ matrix.coverage }}
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Install PHP
      uses: shivammathur/setup-php@develop
      with:
        php-version: '7.4'
        extension-csv: mbstring, xdebug, pcov, intl, gd #optional
        ini-values-csv: "post_max_size=256M, short_open_tag=On, date.timezone=Asia/Kolkata" #optional
        coverage: ${{ matrix.coverage }}
    - name: Test action side effects
      run: git status
    - name: Testing PHP version
      run: php -v
    - name: Testing Composer version
      run: composer -V
    - name: Testing Extensions
      run: |
        php -m
    - name: Testing ini values
      run: |        
        printf "post_max_size: %s\n" $(php -r "echo ini_get('post_max_size');")
        printf "short_open_tag: %s\n" $(php -r "echo ini_get('short_open_tag');")
        printf "date.timezone: %s\n" $(php -r "echo ini_get('date.timezone');")
    - name: Testing Coverage if PCOV
      if: matrix.coverage == 'pcov'
      run: |
        printf "pcov.enabled: %s\n" $(php -r "echo ini_get('pcov.enabled');")      
        php -v
    - name: Testing Coverage if Xdebug
      if: matrix.coverage == 'xdebug'
      run: |        
        php -r "echo 'xdebug: '.extension_loaded('xdebug');"
        php -v            
    - name: Testing disabling coverage
      if: matrix.coverage == 'none'
      run: |        
        php -r "echo 'xdebug: '.extension_loaded('xdebug');"
        php -r "echo 'xdebug: '.extension_loaded('pcov');"
        php -v
