name: Tests
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ['8.0']
        coverage: [xdebug, pcov, none]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Set up php and composer
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php-versions }}        
          extensions: 'mbstring'
          ini-values: 'pcov.directory=api'
          coverage: ${{ matrix.coverage }}
      - name: Install dependencies
        run: composer install --no-progress --no-suggest --prefer-dist --ignore-platform-reqs
      - name: Test with phpunit
        run: vendor/bin/phpunit --coverage-clover build/logs/clover.xml --coverage-text
      - name: coveralls
        run: sh -c php vendor/bin/php-coveralls -v
      - name: codecov-umbrella
        run: curl -s https://codecov.io/bash | bash -s -- -t ${{secrets.CODECOV_TOKEN}} -f build/logs/clover.xml -n github-actions-codecov