name: CI

on: [push]

env:
  COMPOSER_ROOT_VERSION: "10.0-dev"

jobs:
  tests:
    name: Tests

    runs-on: ${{ matrix.os }}

    env:
      PHP_EXTENSIONS: dom, json, libxml, mbstring, pdo_sqlite, soap, xml, xmlwriter      

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest

        php-version:
          - "8.1"

        coverage:
          - pcov
          - none
          - xdebug

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install PHP with extensions
        uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php-version }}
          coverage: ${{ matrix.coverage }}
          extensions: ${{ env.PHP_EXTENSIONS }}
          ini-values: ${{ env.PHP_INI_VALUES }}
      - run: php -v && php -m
      - name: Determine composer cache directory on Linux
        run: echo "COMPOSER_CACHE_DIR=$(./tools/composer config cache-dir)" >> $GITHUB_ENV

      - name: Install highest dependencies with composer        
        run: php ./tools/composer update --no-ansi --no-interaction --no-progress

      - name: Run sanity check
        run: bash ./build/scripts/sanity-check

      - name: Run tests with phpunit
        run: php ./phpunit --coverage-clover=coverage.xml
