name: Experimental v1 workflow
on:
  push:
jobs:
  run:
    name: Run
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-20.04, ubuntu-18.04, ubuntu-16.04, windows-latest, macos-latest]
        php-versions: ['8.0']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@releases/v1
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, opcache
          ini-values: post_max_size=256M, short_open_tag=On, date.timezone=Asia/Kolkata #optional
          coverage: ${{ matrix.coverage }}
      - name: Testing PHP version
        run: |
          php -v
          php -r "if(strpos(phpversion(), '${{ matrix.php-versions }}') === false) {throw new Exception('Wrong PHP version Installed');}"

      - name: Testing Composer version
        run: |
          composer -V
          php -r "if(strpos(@exec('composer -V'), 'Composer version') === false) {throw new Exception('Composer not found');}"
      - name: Testing Extensions
        run: |
          php -m
          php -r "if(! extension_loaded('mbstring')) {throw new Exception('mbstring not found');}"
          php -r "if(! extension_loaded('Zend OPcache')) {throw new Exception('mbstring not found');}"
      - name: Testing ini values
        run: |
          php -r "if(ini_get('post_max_size')!='256M') {throw new Exception('post_max_size not added');}"
          php -r "if(ini_get('short_open_tag')!=1) {throw new Exception('short_open_tag not added');}"
          php -r "if(ini_get('date.timezone')!='Asia/Kolkata') {throw new Exception('date.timezone not added');}"
      - name: Testing Coverage if PCOV
        if: matrix.coverage == 'pcov'
        run: |
          php -r "if(ini_get('pcov.enabled')!=1) {throw new Exception('PCOV not enabled');}"
          php -r "if(! extension_loaded('pcov')) {throw new Exception('PCOV not found');}"
          php -v
      - name: Testing Coverage if Xdebug
        if: matrix.coverage == 'xdebug'
        run: |
          # php -r "if(! extension_loaded('Xdebug')) {throw new Exception('Xdebug not found');}"
          php -v
      - name: Testing disabling coverage
        if: matrix.coverage == 'none'
        run: |
          php -r "if(extension_loaded('xdebug')) {throw new Exception('Xdebug found');}"
          php -r "if(extension_loaded('Xdebug')) {throw new Exception('Xdebug found');}"
          php -r "if(extension_loaded('pcov')) {throw new Exception('PCOV found');}"
          php -v
      - name: Test JIT
        run: |
          php -r "if(! extension_loaded('Zend OPcache')) {throw new Exception('Zend OPcache not found');}"
          php -r "if(ini_get('opcache.jit_buffer_size')!='256M') {throw new Exception('opcache.jit_buffer_size not set');}"
          php -r "if(ini_get('opcache.jit')!=1235) {throw new Exception('opcache.jit not set');}"
          php -r "if(ini_get('pcre.jit')!=1) {throw new Exception('pcre.jit not set');}"
      - name: Benchmark JIT
        run: |
          curl -o bench.php https://raw.githubusercontent.com/php/php-src/master/Zend/bench.php
          php bench.php