name: Tools workflow
on:
  push:
jobs:  
  versions:
    name: tools
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-18.04, ubuntu-16.04]
        php-versions: ['7.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: pecl
      - name: Add aerospike
        run: |
          (
            ini_file=$(php --ini | grep "Loaded Configuration" | sed -e "s|.*:s*||" | sed "s/ //g")
            ext_dir=$(php -i | grep -Ei "extension_dir => /" | sed -e "s|.*=> s*||")
            echo "ini_file: $ini_file"
            echo "ext_dir: $ext_dir"
            cd /tmp
            composer require aerospike/aerospike-client-php ~7.0
            find vendor/aerospike/aerospike-client-php/ -name "*.sh" -exec chmod +x {} \;
            cd vendor/aerospike/aerospike-client-php/ && sudo composer run-script post-install-cmd         
            cp -rf ./src/modules/* $ext_dir
            echo "extension=aerospike.so" >> $ini_file
            echo "aerospike.udf.lua_user_path=/usr/local/aerospike/usr-lua" >> $ini_file
            ls $ext_dir
          )
      - name: Test PHP version
        run: php -v
      - name: Test PHP extensions
        run: php -m
