name: Test phalcon extension v3 #test cache
on: [push]
jobs:
  run:    
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false      
      matrix:
        operating-system: [macos-latest]
        #operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['7.0', '7.1', '7.2', '7.3']
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    env:
      extensions: psr, phalcon3
      key: cache-phalcon3-v2
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup cache environment
      id: cache-env
      uses: shivammathur/cache-extensions@develop
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: ${{ env.extensions }}
        key: ${{ env.key }}

    - name: Cache extensions
      uses: actions/cache@v1
      with:
        path: ${{ steps.cache-env.outputs.dir }}
        key: ${{ steps.cache-env.outputs.key }}
        restore-keys: ${{ steps.cache-env.outputs.key }}
    - name: Testing
      env:
        version: ${{ matrix.php-versions }}
      run: |
        get_apiv() {
          case $version in
            5.3) echo "20090626" ;;
            5.4) echo "20100525" ;;
            5.5) echo "20121212" ;;
            5.6) echo "20131226" ;;
            7.0) echo "20151012" ;;
            7.1) echo "20160303" ;;
            7.2) echo "20170718" ;;
            7.3) echo "20180731" ;;
            7.4) echo "20190902" ;;
            *)
              php_h="https://raw.githubusercontent.com/php/php-src/master/main/php.h"
              curl -sSL --retry 5 "$php_h" | grep "PHP_API_VERSION" | cut -d' ' -f 3
              ;;
          esac
        }
        apiv=$(get_apiv)
        ls "/usr/local/lib/php/pecl/$apiv"
        brew install php@"$version"
        brew link --force --overwrite php@"$version"
        phalcon_version=$(php -d="extension=psr.so" -d="extension=phalcon.so" -r "echo phpversion('phalcon');" 2>/dev/null | cut -d'.' -f 1)
        extension_major=${extension: -1}        
        echo "phalcon_version: $phalcon_version"
        echo "extension_major: $extension_major"

    #- name: Install PHP
    #  uses: shivammathur/setup-php@develop
    #  with:
    #    php-version: ${{ matrix.php-versions }}
    #    extensions: ${{ env.extensions }}
    - name: Testing PHP version
      run: php -v
    - name: Testing Extensions
      run: |
        php -r "echo 'psr: ' . phpversion('psr').', ';"
        php -r "echo 'phalcon: ' . phpversion('phalcon');"
        php -r "if(! extension_loaded('psr')) {throw new Exception('psr not found');}"
        php -r "if(! extension_loaded('phalcon')) {throw new Exception('phalcon not found');}"
        php -r "if(phpversion('phalcon')[0]!='3') {throw new Exception('Wrong phalcon version Installed');}"
