name: Test workflow
on: [push]
jobs:
  run:
    container: debian:buster
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
    steps:
      - run: |
          apt-get update
          apt-get install sudo -y
      - uses: shivammathur/setup-php@verbose
        env:
          runner: self-hosted
        with:
          php-version: 7.2
