name: Test workflow
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-18.04]
        php-versions: ['7.4']
    name: PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }}
    container: php:7.4.5
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Pre-requities
        run: |
          DEBIAN_FRONTEND=noninteractive apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get install -y ca-certificates sudo gnupg
          lsb_release -a
      - name: Install PHP
        uses: shivammathur/setup-php@verbose
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring
      - name: Testing PHP version
        run: php -v
      - name: Testing Extensions
        run: php -m
