name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-24.04, ubuntu-22.04]
        php: [8.3]
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@verbose
        with:
          php-version: ${{ matrix.php }}
          extensions: intl, mbstring, mongodb
        env:  
          use_package_cache: false

      - name: Check PHP
        run: |
          php -v
          php -m
          ls /etc/apt/sources.list.d/
