name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [macos-15-intel]
        php: [8.4]
    steps:
    - name: "Install PHP"
      uses: shivammathur/setup-php@develop
      with:
        php-version: ${{ matrix.php }}
        extensions: redis
    - run: php -v && php -m    
