name: Test workflow
on: [push]
jobs:
  testrun:    
    name: testrun
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-20.04, ubuntu-18.04, ubuntu-16.04]
    steps:
      - name: Test
        run: |         
          php7.4 -m
