name: Test
on:
  push:
jobs:
  runner:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        php: [8.6]
    runs-on: ${{matrix.os}}
    steps:
      - name: Test
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Tmate
        uses: mxschmitt/action-tmate@v3.22
      
