on:
  - push

name: build

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - macos-latest

        php:
          - "8.1"
          
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install PHP with extensions
        uses: shivammathur/setup-php@verbose
        with:
          php-version: ${{ matrix.php }}
          extensions: swoole
          
      - run: |
          php -v
          php -m

      - uses: mxschmitt/action-tmate@v3.5
       
