name: Test
on:
  push:
jobs:
  job1:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: ['7.4', '8.0']
    steps:
      - uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php }}
          extensions: gd-php/php-src@PHP-${{ matrix.php }}
        env:
          GD_CONFIGURE_OPTS: --enable-gd=shared,/usr --with-external-gd --with-jpeg
          GD_LIBS: libgd-dev libjpeg-dev
          GD_PATH: ext/gd
      - name: Test
        run: |
          php -v
          php -r 'foreach (gd_info() as $key => $value) { echo "$key: $value \n"; }'
          php -m
