name: 'Test Formulae'
on: [push]
jobs:
  tests:
    runs-on: macos-12
    steps:    
      - name: Add tap
        run: brew tap shivammathur/php

      - name: Test PECL on PHP 8.1 (Pre installed)
        run: |
          pecl install xdebug
          php -v

      - name: Install PHP 7.1
        run: |
          brew install shivammathur/php/php@7.1
          brew link --force --overwrite php@7.1
      - name: Test PECL on PHP 7.1
        run: |
          pecl install xdebug-2.9.8
          php -v

      - name: Install PHP 7.4
        run: |
          brew install shivammathur/php/php@7.4
          brew link --force --overwrite php@7.4
      - name: Test PECL on PHP 7.4
        run: |
          pecl install xdebug
          php -v
