name: Test
on:
  push:
jobs:
  runner:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15-intel]
    runs-on: ${{matrix.os}}
    steps:
      - name: Test
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.6
        env:
          debug: true
          phpts: ts
      - run: nm -m $(which php) | grep -E '(___?tsrm_ls_cache)'    
      
