name: Test workflow
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-18.04, ubuntu-16.04]
        php-versions: ['8.0']
    name: PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2      
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mysql, pdo_mysql, pgsql, pdo_pgsql, sqlite3, pdo_sqlite
      - name: Testing PHP version
        run: php -v
      - name: Testing Extensions
        run: php -m
