on:
  - push

name: build

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-16.04
          - ubuntu-18.04
          - ubuntu-20.04
    steps:
      - run: |
          sudo update-ca-certificates
          sudo curl -fsSL --retry 3 -o /usr/local/ssl/cert.pem https://curl.se/ca/cacert.pem
          sudo curl -fsSL --retry 3 -O https://pear.php.net/go-pear.phar
