name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [macos-15-intel]
        php: [7.3]
    steps:
    - name: "Install PHP"
      uses: shivammathur/setup-php@verbose
      with:
        php-version: ${{ matrix.php }}
