name: 'Test'
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    env:
      extensions: imagick, memcached, xdebug, pecl_http, grpc
      key: cache-v1
    steps:    
    - name: Setup cache environment
      id: extcache
      uses: shivammathur/cache-extensions@develop
      with:
        php-version: '8.0'
        extensions: ${{ env.extensions }}
        key: ${{ env.key }}

    - name: Cache extensions
      uses: actions/cache@v2
      with:
        path: ${{ steps.extcache.outputs.dir }}
        key: ${{ steps.extcache.outputs.key }}
        restore-keys: ${{ steps.extcache.outputs.key }}
    
    - name: Setup PHP
      uses: shivammathur/setup-php@verbose
      with:
        php-version: '8.0'
        extensions: ${{ env.extensions }}
    - run: php -v && php -m   
          
