name: 'Extension v2 workflow'
on:
  repository_dispatch:
  push:
  schedule:
    - cron: '15 4 * * *'
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      max-parallel: 16
      matrix:
        operating-system: [macos-latest]
        php-versions: ['7.2', '7.3', '7.4']
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@releases/v1
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: gearman
      - name: Testing PHP version
        run: php -v
      - name: Testing Extensions
        run: |
          php -m
