name: Test workflow
on: [push]
jobs:
  testrun:    
    name: testrun
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-20.04, ubuntu-16.04]
    steps:
      - name: Test libs
        run: ls /usr/lib
      - name: Test libs
        run: ls /usr/lib/x86_64-linux-gnu
      - name: Test libs
        run: ls /lib/x86_64-linux-gnu
      - name: Test
        run: |          
          curl -OSL https://github.com/shivammathur/php5-ubuntu/raw/master/php-5.5/deps/multiarch-support_2.28-10_amd64
          curl -OSL https://github.com/shivammathur/php5-ubuntu/raw/master/php-5.5/deps/libssl0.9.8_0.9.8o-7ubuntu3.1_amd64.deb
          sudo rm -rf /lib/x86_64-linux-gnu/libssl*
          sudo DEBIAN_FRONTEND=noninteractive dpkg -i --force-conflicts --force-breaks ./multiarch-support_2.28-10_amd64
          sudo DEBIAN_FRONTEND=noninteractive dpkg -i --force-conflicts --force-breaks ./libssl0.9.8_0.9.8o-7ubuntu3.1_amd64.deb
