name: Test workflow
on: [push]
jobs:
  testrun:    
    name: testrun
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
    steps:
      - name: Test
        run: |
          touch a.txt
          echo '' | sudo tee b.txt
          chmod 777 a.txt b.txt
          ls -la
