name: Test workflow
on: [push]
jobs:
  testrun:    
    name: testrun
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
    steps:
      - name: Test
        run: |
          ab -n 1000 -c 100 https://packagist.shivammathur.com/packages.json
          ab -n 1000 -c 100 https://packagist.com.br/packages.json
          ab -n 1000 -c 100 https://repo.packagist.org/packages.json
          ab -n 1000 -c 100 packagist-mirror.wmflabs.org/packages.json
