name: 'Extension workflow'
on:
  repository_dispatch:
  push:
  schedule:
    - cron: '0 1/5 * * *'
jobs:
  run1:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-18.04, windows-latest, macOS-latest]
        php-versions: ['5.6', '7.0', '7.1', '7.2', '7.3', '7.4', '8.0']
    name: 1) PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: pdo, pdo_sqlite, mysql, pdo_mysql, pdo_pgsql, pgsql
      - name: Install PHP
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: pdo, pdo_sqlite, mysql, pdo_mysql, pdo_pgsql, pgsql
      - name: Testing PHP version
        run: php -v
      - name: Testing Extensions
        run: php -m
