name: Test workflow
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [macos-latest]
        #php-versions: ['7.3', '7.4']
    name: Test ${{ matrix.operating-system }} # - ${{ matrix.php-versions }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: check lib
      run: ls /usr/local/opt 
