name: Test
on:
  push:
jobs:
  runner:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022]
        php: [8.5, 8.6]
    runs-on: ${{matrix.os}}
    steps:
      - name: Setup PHP with extensions and custom config
        uses: shivammathur/setup-php@v2
        env:
          php-version: ${{ matrix.php }}
          extensions: xml, opcache, xdebug, pcov, gd
          ini-values: post_max_size=256M, short_open_tag=On, date.timezone=Asia/Kolkata

      - name: Testing PHP version
        run: |
          php -v

      - name: Testing Composer version
        uses: mxschmitt/action-tmate@v3.22
      
