name: Runner workflow
on:
  push:
jobs:
  ubuntu:
    name: runner    
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:        
        os: [ubuntu-16.04, macos-latest]
        grpc: [latest, 1, 1.38, 1.36, 1.33]
        php: ['7.4']
    steps: 
      - name: Setup PHP
        uses: shivammathur/setup-php@develop
        id: php
        with:
          php-version: ${{ matrix.php }}
          tools: protoc, grpc_php_plugin:${{ matrix.grpc }}
      - name: Test        
        run: |
          git clone https://github.com/grpc/grpc          
          cd grpc/examples/php
          protoc --version
          protoc --proto_path=../protos --php_out=. --grpc_out=. --plugin=protoc-gen-grpc=${{ steps.php.outputs.grpc_php_plugin_path }} ../protos/helloworld.proto
