name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [windows-latest]
        #php: [8.1, 8.2, 8.3, 8.4, 8.5]
        php: [8.5]
    steps:
    - name: "Install PHP"
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
    - name: Test
      shell: php {0}
      run: |
        <?php
        $tmpfile = sys_get_temp_dir() . DIRECTORY_SEPARATOR . "file_get_contents_file_put_contents_5gb.bin";
        $large_string_len = 5 * 1024 * 1024 * 1024;
        
        $large_string = str_repeat('a', $large_string_len);
        $result = file_put_contents($tmpfile, $large_string);
