name: Grpc workflow
on:
  push:
jobs:
  ubuntu:
    name: runner
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-11.0-m1]
        php: ['7.3', '7.4']
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@verbose
        id: php
        with:
          php-version: ${{ matrix.php }}
          tools: protoc, grpc_php_plugin

      - name: Test
        continue-on-error: true
        run: |
          brew untap shivammathur/php || true
          brew untap shivammathur/extensions || true
          git clone https://github.com/grpc/grpc
          cd grpc/examples/php
          protoc --version
          protoc --proto_path=../protos --php_out=. --grpc_out=. --plugin=protoc-gen-grpc=${{ steps.php.outputs.grpc_php_plugin_path }} ../protos/helloworld.proto
      - uses: mxschmitt/action-tmate@v3.5          
