name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [macos-latest]
        php: [8.2, 8.3, 8.4, 8.5, 8.6]
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@verbose
        with:
          php-version: ${{ matrix.php }}

      - name: Check PHP
        run: |
          php -v
          php -m
