name: Test extensions
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['7.3', '7.4']
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@develop
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: uopz, ast
      
    - name: Check PHP version
      run: php -v

    - name: Check PHP extensions
      run: php -m

    - name: Test
      run: php -r "echo 'test';"
