name: Test
on:
  push:
jobs:
  job1:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: ['5.6', '7.0', '7.1', '7.2', '7.3', '7.4']
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@verbose
        with:
          php-version: ${{ matrix.php }}
      - uses: mxschmitt/action-tmate@v3.5    
      - name: Test
        run: |
          php -v          
          php -m
