name: Test workflow
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [macos-latest]
        php-versions: ['8.0']
    name: Test ${{ matrix.operating-system }} - ${{ matrix.php-versions }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Update brew
      run: brew update
  
    - name: setup-php
      uses: shivammathur/setup-php@verbose
      with: 
        php-version: ${{ matrix.php-versions }}
    
    - name: check libs
      run: ls /usr/local/opt
      
    - name: check libs
      run: ls /usr/local/opt/libffi/lib/ || true
