name: Test
on:
  push:
jobs:
  runner:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        php: [8.5, 8.6]
    runs-on: ${{matrix.os}}
    steps:
      - name: Test
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Test
        run: php -r "if(preg_match('/Composer.*version/', @exec('composer -V')) !== 1) {throw new Exception('Composer not found');}"
      
