name: Test
on:
  push:
jobs:
  runner:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: [8.5, 8.6]
    runs-on: ${{matrix.os}}
    steps:
      - name: Test
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Test ast version        
        run: php -r "echo phpversion('ast');";
      
