name: Test ext workflow
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.operating-systems }}
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.0']
        operating-systems: [macos-latest]
    name: Test PHP ${{ matrix.php-versions }} on ${{ matrix.operating-systems }}
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: ast, blackfire, gd, msgpack, redis, xml, imagick, geos

      - name: Check PHP version
        run: php -v

      - name: Check ini files
        run: php --ini

      - name: Check PHP extensions
        run: |
          php -m
          php -r "if(! extension_loaded('blackfire')) {throw new Exception('blackfire not found');}";
          php -r "if(! extension_loaded('gd')) {throw new Exception('gd not found');}";
          php -r "if(! extension_loaded('msgpack')) {throw new Exception('msgpack not found');}";
          php -r "if(! extension_loaded('redis')) {throw new Exception('redis not found');}";
          php -r "if(! extension_loaded('xml')) {throw new Exception('xml not found');}";
          php -r "if(phpversion()>=7.0 && ! extension_loaded('ast')) {throw new Exception('ast not found');}"
      - name: Check PHP extensions
        if: matrix.operating-systems != 'windows-latest'
        run: |
          php -m
          php -r "if(! extension_loaded('imagick')) {throw new Exception('imagick not found');}";
          php -r "if(! extension_loaded('geos')) {throw new Exception('geos not found');}";
