name: 'Intl workflow'
on:
  push:
jobs:
  focal:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 30
      matrix:
        os: [ubuntu-20.04]
        php: ['5.6', '7.0', '7.1', '7.2', '7.3', '7.4', '8.0']
        icu: [69.1, 68.2, 68.1, 67.1, 66.1, 65.1, 64.2, 63.2, 62.2, 61.2, 60.3, 59.2, 58.3, 57.2, 56.2, 55.2, 54.2, 53.2, 52.2, 51.3, 50.2]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php }}
          extensions: intl-${{ matrix.icu }}
      - name: Testing PHP
        run: |
          icu_version=$(php -i | grep "ICU version =>" | sed -e "s|.*=> s*||")
          echo $icu_version
          [ "$icu_version" != "${{ matrix.icu }}" ] && 	echo "::warning::failed to setup ${{ matrix.icu }} on php ${{ matrix.php }}"
          php -v
          php -m
  bionic:
    needs: focal
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 30
      matrix:
        os: [ubuntu-18.04]
        php: ['5.6', '7.0', '7.1', '7.2', '7.3', '7.4', '8.0']
        icu: [69.1, 68.2, 68.1, 67.1, 66.1, 65.1, 64.2, 63.2, 62.2, 61.2, 60.3, 59.2, 58.3, 57.2, 56.2, 55.2, 54.2, 53.2, 52.2, 51.3, 50.2]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php }}
          extensions: intl-${{ matrix.icu }}
      - name: Testing PHP
        run: |
          icu_version=$(php -i | grep "ICU version =>" | sed -e "s|.*=> s*||")
          echo $icu_version
          [ "$icu_version" != "${{ matrix.icu }}" ] && 	echo "::warning::failed to setup ${{ matrix.icu }} on php ${{ matrix.php }}"
          php -v
          php -m
  xenial:
    needs: bionic
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 30
      matrix:
        os: [ubuntu-16.04]
        php: ['5.6', '7.0', '7.1', '7.2', '7.3', '7.4', '8.0']
        icu: [69.1, 68.2, 68.1, 67.1, 66.1, 65.1, 64.2, 63.2, 62.2, 61.2, 60.3, 59.2, 58.3, 57.2, 56.2, 55.2, 54.2, 53.2, 52.2, 51.3, 50.2]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php }}
          extensions: intl-${{ matrix.icu }}
      - name: Testing PHP
        run: |
          icu_version=$(php -i | grep "ICU version =>" | sed -e "s|.*=> s*||")
          echo $icu_version
          [ "$icu_version" != "${{ matrix.icu }}" ] && 	echo "::warning::failed to setup ${{ matrix.icu }} on php ${{ matrix.php }}"
          php -v
          php -m
