name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [macos-latest]
        php: [8.1, 8.2, 8.3, 8.4, 8.5]
    steps:
    - name: "Install PHP"
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
    - uses: mxschmitt/action-tmate@v3.23
