name: Test extensions
on: [push]    
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['7.3', '7.4']
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
    name: Test PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@develop
      with:        
        php-version: ${{ matrix.php-versions }}
        extensions: :standard
      
    - name: Check PHP version
      run: php -v

    - name: Check PHP extensions
      run: php -m
