name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    container: ubuntu:${{ matrix.ubuntu }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-24.04]
        ubuntu: [22.04, 24.04]
        php: [8.2]
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@verbose
        with:
          php-version: ${{ matrix.php }}
          extensions: intl, mbstring, mongodb

      - name: Check PHP
        run: |
          php -v
          php -m
