name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
    steps:
      - uses: shivammathur/setup-php@develop
        with:
          php-version: 8.4
          extensions: lzf
      - run: php -v && php -m    
