name: 'Test with cache' 
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        php: ['7.4', '8.0']
    env:
      # mbstring, intl, json, yaml, apcu, imagick, gd, gettext, igbinary, msgpack, redis
      extensions: ''
      key: cache-v16
    steps:    
    - name: Setup cache environment
      id: extcache
      uses: shivammathur/cache-extensions@develop
      with:
        php-version: ${{ matrix.php }}
        extensions: ${{ env.extensions }}
        key: ${{ env.key }}

    - name: Cache extensions
      uses: actions/cache@v2
      with:
        path: ${{ steps.extcache.outputs.dir }}
        key: ${{ steps.extcache.outputs.key }}
        restore-keys: ${{ steps.extcache.outputs.key }}
    
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: ${{ env.extensions }}
    - run: php -v && php -m   
          
