name: Test
on:
  push:
jobs:
  focal:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: git -C $(brew --repository) pull origin master
      - name: Setup PHP
        uses: shivammathur/setup-php@verbose
        with:
          php-version: 8.1
          extensions: imap, protobuf, swoole
