name: 'Coverage workflow'
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [windows-latest]
        php-versions: ['8.0']
        ts: [ts, nts]
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: pcov
        env:
          phpts: ${{ matrix.ts }}
      - name: Test PHP
        run: php -v
      - name: Test php extensions
        run: php -m
      - name: Check pcov versions
        env:
          phpts: ${{ matrix.ts }}
        run: |
          $version='8.0'
          $arch = 'x64'
          $arch_name ='amd64'
          if(-not([Environment]::Is64BitOperatingSystem) -or $version -lt '7.0') {
            $arch = 'x86'
            $arch_name = '386'
          }

          $ts = $env:PHPTS -eq 'ts'
          if($env:PHPTS -ne 'ts') {
            $env:PHPTS = 'nts'
          } 

          Get-PhpExtension -Path C:\tools\php
