name: Extension workflow
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.0', '8.1']
        operating-system: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04]
    name: Test PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: apcu

      - name: Check PHP version
        run: php -v

      - name: Check PHP extensions
        run: |
          php -m
          php -r "if(! extension_loaded('apcu')) {throw new Exception('apcu not found');}"
