name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
    steps:
      - continue-on-error: true
        run: |
          link="https://github.com/php/php-windows-builder#example-workflow-for-immutable-releases"
          fd=/dev/stdout
          if [[ "${GITHUB_ACTIONS:-}" == "true" ]]; then
            error="::error::"
            fd="$GITHUB_STEP_SUMMARY"
          fi  
          echo "${error}Release $REF already exists, and it is immutable." >> $fd
          echo "${error}For using immutable releases please refer to $link" >> $fd
