name: 'Package'
on: [push]
jobs:
  tests:  
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        php: [8.0]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php }}
          tools: phpunit:8.5, composer:2.0, php-cs-fixer:2.18
      - name: Test
        run: |
          php -v
          phpunit --version
          composer -V
          php-cs-fixer -V
