name: 'Package'
on: [push]
jobs:
  tests:  
    strategy:
      fail-fast: false
      matrix:
        os: [macos-10.15]
        php: [5.4]
        #php: [5.3, 5.4, 5.5]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Add imagick
        env:
          PHP_VERSION: ${{ matrix.php }}
        run: |          
          curl -o /tmp/imagick.tar.zst -sL https://github.com/shivammathur/php5-darwin/releases/latest/download/php"${PHP_VERSION/./}"-imagick.tar.zst
          sudo mkdir -p /tmp/imagick
          sudo zstd -dq /tmp/imagick.tar.zst && sudo tar -xf /tmp/imagick.tar -C /tmp/imagick
          to_wait=()
          for pkg in /tmp/imagick/*.pkg; do
            sudo installer -pkg $pkg -target / &
            to_wait+=($!)
          done
          wait "${to_wait[@]}"
      - name: Test
        run: php -v && php -m
