name: Tools workflow #test
on:
  push:
env:
  COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  latest:
    name: latest
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['8.0']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: prestissimo
      - name: Testing Tools
        run: |          
          composer global show hirak/prestissimo
          php -v
          php -m
