name: oldphp on windows

on: [push, pull_request]

jobs:
  test:

    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:      
        operating-system: [windows-latest]
        php-versions: ['5.3', '5.4', '5.5']
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Setup PHP with extensions and custom config
      uses: shivammathur/setup-php@develop
      with:
        php-version: ${{ matrix.php-versions }}

    - name: Test
      run: |
        DIR $env:PHPROOT\ext
        Invoke-WebRequest -UseBasicParsing -Uri https://dl.bintray.com/shivammathur/php/libeay32.dll -OutFile $env:PHPROOT\libeay32.dll
        Invoke-WebRequest -UseBasicParsing -Uri https://dl.bintray.com/shivammathur/php/ssleay32.dll -OutFile $env:PHPROOT\ssleay32.dll
        DIR $env:PHPROOT
        php -v
        php -m 
        php -r "echo file_get_contents('https://repo.packagist.org/packages.json');"
