name: Test workflow
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [macos-latest]
        php-versions: ['8.0']
    name: Test ${{ matrix.operating-system }} - ${{ matrix.php-versions }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: check libs
      run: ls /usr/local/opt
      
    - name: check libs
      run: ls /usr/local/opt/libffi/lib/ || true
  
    - name: setup-php
      uses: shivammathur/setup-php@verbose
      with: 
        php-version: ${{ matrix.php-versions }}
   
    - name: Test fix 
      run: |
        lib_error=$(php -v 2>&1) || true
        libs=$(echo "$lib_error" | grep -Ei "[a-z]*.[0-9].dylib")
        echo "libs: $libs"
        for lib in $libs; do
          lib_name=$(echo "$lib" | cut -d '.' -f 1)
          lib_path=/usr/local/opt/"$lib_name"/lib
          sudo cp "$lib_path/$lib_name.dylib" "$lib_path/$lib"
        done
        php -v
    
    - name: check libs
      run: ls /usr/local/opt
      
    - name: check libs
      run: ls /usr/local/opt/libffi/lib/ || true
