name: Tools workflow
on:
  push:
jobs:
  old_versions:
    name: tools
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2 
      - name: Setup PHP with tools
        uses: shivammathur/setup-php@develop
        with:
          php-version: '7.2'
          tools: vimeo/psalm:4.5.0
