on:
  - push

name: build

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-16.04
    steps:
      - run: |
          sudo apt-get remove php5.6 php5.6* -y
      - run: php5.6 -v || true    
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 5.6
          extension: mailparse
      - run: php -v && php -m
          
