name: Test
on:
  push:
jobs:
  runner:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022]
        php: [8.5, 8.6]
    runs-on: ${{matrix.os}}
    steps:
      - name: Setup PHP with extensions and custom config
        uses: shivammathur/setup-php@v2
        env:
          php-version: ${{ matrix.php }}
          extensions: xml, opcache, xdebug, pcov, gd
          ini-values: post_max_size=256M, short_open_tag=On, date.timezone=Asia/Kolkata

      - name: Testing PHP version
        run: |
          php -v

      - name: Testing Composer version
        shell: bash
        run: |
          composer -V
          php -r "file_put_contents('aa', exec('composer -V'));"
          cat aa
          php -r "if(preg_match('/Composer.*version/', exec('composer -V')) !== 1) {throw new Exception('Composer not found');}" || echo 'aa'
          php -r "if(strpos(@exec('composer -V'), 'Composer version') === false) {throw new Exception('Composer not found');}" || echo 'bb'
      
