name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [macos-14, macos-15, macos-15-intel, macos-26]
    steps:
      - name: Check PHP
        run: |
          brew tap shivammathur/php
          brew install php@8.6
          brew link --force --overwrite php@8.6
          php -v
          php -m
          curl -o pear.phar -sL https://php.pear.phar/install-pear-nozlib.phar
          php pear.phar
          brew reinstall -svd php@8.6
