name: Test workflow
on: [push]
jobs:
  testrun:    
    name: testrun
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [macos-latest]
    steps:
      - name: Test
        run: |
          GITHUB_COMMIT="Test --dry-run"
          if [[ "$GITHUB_COMMIT" == *dry-run* ]]; then echo 'true'; else echo 'false'; fi
