name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
    steps:
      - continue-on-error: true
        run: |
          error="Release $REF already exists, and it is immutable.\nFor using immutable releases please refer to $link"
          [[ "${GITHUB_ACTIONS:-}" == "true" ]] && echo "::error::${error//$'\n'/%0A}" || echo "$error"
      - continue-on-error: true
        env:
          GITHUB_ACTIONS: false
        run: |
          error="Release $REF already exists, and it is immutable.\nFor using immutable releases please refer to $link"
          [[ "${GITHUB_ACTIONS:-}" == "true" ]] && echo "::error::${error//$'\n'/%0A}" || echo "$error"
