name: Tools workflow
on:
  push:
jobs:  
  versions:
    name: tools
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-18.04, ubuntu-16.04, macos-latest]
        php-versions: ['7.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: pecl
      - name: Add aerospike
        continue-on-error: true
        run: |
          (   
            ini_file=$(php --ini | grep "Loaded Configuration" | sed -e "s|.*:s*||" | sed "s/ //g")
            ext_dir=$(php -i | grep "extension_dir => /" | sed -e "s|.*=> s*||")
            git clone https://github.com/aerospike/aerospike-client-php /tmp/aerospike && cd /tmp/aerospike/src
            if [ "$(uname -s)" = "Darwin" ]; then 
              brew install automake
              sudo cp -R $(brew --prefix)/opt/openssl/lib/lib* ../aerospike-client-c/lib/
              ext_dir=$(php -i | grep -Ei "extension_dir => /" | sed -e "s|.*=> s*||")
            fi            
            sudo chmod a+x ./build.sh && sudo ./build.sh
            sudo cp -R ./modules/* "$ext_dir/"
            echo "extension=aerospike.so" >> $ini_file
            echo "aerospike.udf.lua_user_path=/usr/local/aerospike/usr-lua" >> $ini_file
          )
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v2
      - name: Test PHP version
        run: php -v
      - name: Test PHP extensions
        run: php -m
