name: 'Package'
on: [push]
jobs:
  tests:  
    strategy:
      fail-fast: false
      matrix:
        os: [macos-10.15, macos-11]
        php: [5.3, 5.4, 5.5]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php }}
          extensions: imagick          
      - name: Test
        run: php -v && php -m
