on:
  - push

name: build

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-2016
          - windows-latest
    steps:
    - name: Check 7z files
      run: Get-ChildItem "C:\Program Files\7-Zip"
    - name: Check 7z version choco
      run: choco list --localonly | grep 7z
    - name: Check 7z info     
      run: 7z i
          
