name: Tools workflow
on:
  push:
env:
  COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  latest:
    name: latest
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['7.3']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php-versions }}
          tools: phinx
      - name: Test PATH
        if: matrix.operating-system = 'windows-latest'
        run: |
          echo $env:PATH
          DIR C:/Users/runneradmin/AppData/Roaming/Composer/vendor/bin
      - name: Test PATH
        if: matrix.operating-system = 'ubuntu-latest'
        run: |
          echo $PATH
          ls /home/runner/.composer/vendor/bin
      - name: Test PATH          
        if: matrix.operating-system = 'macos-latest'
        run: |
          echo $PATH
          ls /home/runner/.composer/vendor/bin       
      - name: Testing Tools
        run: phinx -V
