name: Tools workflow #test
on:
  push:
env:
  COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  tools: prestissimo
jobs:
  latest:
    name: latest
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ['7.2', '7.3', '7.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache tools
        uses: actions/cache@v1
        with:
          path: /home/runner/.composer
          key: ${{ runner.os }}-${{ matrix.php-versions }}-${{ env.tools }}
          restore-keys: ${{ runner.os }}-${{ matrix.php-versions }}-${{ env.tools }}
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: prestissimo
      - name: Testing Tools
        run: |
          composer global show hirak/prestissimo
          php -v
          php -m
