name: Test
on:
  push:
jobs:
  tests:    
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        php-versions: ['7.4']
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}  

    - name: Install Parallel-Lint
      run: composer global require php-parallel-lint/php-parallel-lint

    - name: Echo path
      run: echo $env:PATH
    
    - name: Export path
      run: Write-Output "::add-path::C:/Users/runneradmin/AppData/Roaming/Composer/vendor/bin"

    - name: Echo path
      run: echo $env:PATH

    - name: Check Parallel-Lint  
      run: parallel-lint --version
