name: Test workflow
on: [push]
jobs:
  generate:    
    name: generate
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-20.04]
    steps:
      - name: Test
        run: |
          debconf_fix="DEBIAN_FRONTEND=noninteractive"        
          sudo "$debconf_fix" apt-fast install -y --no-upgrade libwebp[0-9]
          version=8.0
          tar_file=php_"$version"%2Bubuntu"$(lsb_release -r -s)".tar.zst
          install_dir=~/php/"$version"
          bintray_url=https://dl.bintray.com/shivammathur/php/"$tar_file"
          sudo mkdir -m 777 -p ~/php
          if [ ! "$(whoami)" = "runner" ]; then
            sudo rm -rf /home/runner && sudo ln -sf ~/ /home/runner;
          fi
          sudo curl -o /tmp/"$tar_file" -SL "$bintray_url"
          sudo tar -I zstd -xf /tmp/"$tar_file" -C ~/php
          for tool_path in "$install_dir"/bin/*; do
            tool=$(basename "$tool_path")
            sudo cp "$tool_path" /usr/bin/"$tool$version"
            sudo update-alternatives --install /usr/bin/"$tool" "$tool" /usr/bin/"$tool$version" 50
          done
          sudo ln -sf "$install_dir"/etc/php.ini /etc/php.ini
          switch_version() {
            for tool in pear pecl php phar phar.phar php-cgi php-config phpize phpdbg; do
              if [ -e "/usr/bin/$tool$version" ]; then
                sudo update-alternatives --set $tool /usr/bin/"$tool$version"
              fi
            done
          }       
          switch_version >/dev/null 2>&1
          php -v   
        
          
