name: Runner workflow
on:
  push:
jobs:
  ubuntu:
    name: runner
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
         os: [macos-latest]
#        os: [ubuntu-20.04, ubuntu-18.04, ubuntu-16.04, windows-latest, macos-latest]
         php-versions: ['5.3', '5.4', '5.5']
    steps:
      - name: test
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
            
        
