name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [macos-14, macos-15, macos-15-intel, macos-26]
    steps:
      - run: echo $TMPDIR
      - run: echo $TMPDIR
          
