name: Runner workflow
on:
  push:
jobs:
  ubuntu:
    name: runner
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
         os: [macos-latest]
#        os: [ubuntu-20.04, ubuntu-18.04, ubuntu-16.04, windows-latest, macos-latest]
#        php-versions: ['7.3', '7.4', '8.0']
    steps:
      - name: packaging
        run: |
          curl -sSLO https://github.com/shivammathur/php5-darwin/releases/download/1.0.0/php53.tar.xz
          curl -sSLO https://github.com/shivammathur/php5-darwin/releases/download/1.0.0/php54.tar.xz
          curl -sSLO https://github.com/shivammathur/php5-darwin/releases/download/1.0.0/php55.tar.xz
          for version in '53' '54' '55'; do
            tar xf php$version
            tar cf - php$version | zstd -22 -T0 --ultra > php$version.tar.zst
          done
      - uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: ./*.zst
            
        
