name: Test workflow
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['7.4']
    name: Test ${{ matrix.operating-system }} - ${{ matrix.php-versions }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Setup PHP Action
      uses: shivammathur/setup-php@master
      with:      
        php-version: ${{ matrix.php-versions }}
      
    - name: Test
      run: \
        composer -V
