on: [push]
name: test
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04]
    steps:
    - name: Enable pcov
      run: |
        sudo phpdismod -v 8.0 xdebug
        sudo phpenmod -v 8.0 pcov
    - name: Test
      run: php -v && php -m
          
