name: 'ext'
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
        ext: ['pdo_sqlsrv-5.9.0preview1, sqlsrv-5.9.0preview1', 'pdo_sqlsrv-5.9.0preview1']
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@verbose
        with:
          php-version: 8.0
          extensions: ${{ matrix.ext }}
      - name: Test config
        run: |
          pear config-get php_ini
          pecl config-get php_ini
          cat /usr/local/php/8.0/etc/php.ini
      - name: Testing PHP version
        run: php -v
      - name: Testing Extensions
        run: php -m
