name: integrate
on: [push]

jobs:
  matrix:
    name: "PHP"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        PHP: ["7.0", "7.1", "7.2", "7.3", "7.4", "8.0"]
        ZTS: ["no"]
        include:
          - PHP: "8.0"
            ZTS: "yes"
    env:
      GITHUB: "yes"
      enable_debug: "yes"
      enable_session: "yes"
      TEST_PHP_ARGS : "--show-diff"
      REPORT_EXIT_STATUS: "yes"
      NO_INTERACTION: "yes"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.PHP }}
      - run: |
          sudo apt-fast install re2c -y
          git clone https://github.com/laruence/yaf
          cd yaf
          phpize
          ./configure
          make
          make test
        
