name: Runner workflow
on:
  push:
jobs:
  ubuntu:
    name: runner    
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-10.15, macos-11.0]
        # os: [ubuntu-latest, windows-latest, macos-latest]
        php: ['5.3', '5.4', '5.5', '5.6', '7.0', '7.1', '7.2', '7.3', '7.4', '8.0']
    steps:
      - run: |
          sudo xcode-select -s /Applications/Xcode_11.7.app
          xcodebuild -version
      - name: Setup PHP
        uses: shivammathur/setup-php@verbose
        id: php
        with:
          php-version: ${{ matrix.php }}
          tools: protoc, grpc_php_plugin
      - name: Test        
        run: |
          git clone https://github.com/grpc/grpc          
          cd grpc/examples/php
          protoc --version
          protoc --proto_path=../protos --php_out=. --grpc_out=. --plugin=protoc-gen-grpc=${{ steps.php.outputs.grpc_php_plugin_path }} ../protos/helloworld.proto
