name: Runner
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [windows-latest]
        #php: [8.1, 8.2, 8.3, 8.4, 8.5]
        php: 8.4
    steps:
    - name: "Install PHP"
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: com_dotnet
    - run: |
        php -v && php -m
        dism.exe /online /enable-feature /featurename:NetFX3 /all
        $installer = Join-Path $env:TEMP 'hMailServer.exe'
        Invoke-WeRequest -Uri "https://github.com/shivammathur/php-windows-builder/releases/download/pecl/hMailServer-5.6.8.exe" -OutFile $installer
        & $installer '/verysilent'
