name: Tools workflow
on:
  push:
jobs:  
  versions:
    name: tools
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [windows-latest]
        php-versions: ['7.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@wintest
        with:
          php-version: ${{ matrix.php-versions }}
      - name: Test PHP version
        run: php -v
      - name: Test PHP extensions
        run: php -m
