name: Test workflow
on: [push]
jobs:
  run:    
    runs-on: macos-latest
    steps:
    - name: Setup PHP
      uses: shivammathur/setup-php@develop
      with:
        php-version: '8.0'
        extensions: http
    - run: php -v && php -m       
