name: Test workflow
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [macos-latest]
        php-versions: ['8.0']
    name: Test ${{ matrix.operating-system }} - ${{ matrix.php-versions }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
 
    - name: install icu4c
      run: |
        brew tap shivammathur/homebrew-php
        brew install shivammathur/php/icu4c --force
      
    - name: check libs
      run: ls /usr/local/opt/icu4c/lib/ || true
