name: Test
on:
  push:
jobs:
  runner:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: Setup PHP with extensions and custom config
        uses: shivammathur/setup-php@develop
        env:
          tools: symfony:5.14.2

      - name: Testing PHP version
        run: |
          php -v
          symfony -V
      
