name: Tools v1 workflow
on:
  repository_dispatch:
  push:
  schedule:
    - cron: '0 */6 * * *'
env:
  COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}      
jobs:
  latest:
    name: latest
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['7.3']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@releases/v1
        with:
          php-version: ${{ matrix.php-versions }}
          tools: php-cs-fixer, phpcs, phpcbf, phpcpd, phpstan, phpmd, codeception, cs2pr, phpunit, psalm, phinx, phive, deployer, prestissimo, composer-prefetcher, pecl, phpize, php-config, symfony
      - name: Test action side effects
        run: php -r "if(strpos(@exec('git status'), 'nothing to commit') === false) {throw new Exception('Action has side effects');}"
      - name: Testing Tools
        run: |
          composer -V
          php-cs-fixer -V
          phpcs --version
          phpcbf --version
          phpcpd -V
          phpstan -V
          cs2pr version
          codeception -V
          phpunit --version
          psalm -v
          phinx -V
          phive status
          deployer -V
          symfony version
      - name: Test prestissimo
        run: composer global show hirak/prestissimo
        continue-on-error: true
      - name: Test composer-prefetcher
        run: composer global show narrowspark/automatic-composer-prefetcher
        continue-on-error: true
      - name: Test pecl, phpize, php-config
        if: matrix.operating-system != 'windows-latest'
        run: |
          pecl -V
          php-config --version
          phpize --version
      - name: Test phpmd on windows
        if: matrix.operating-system == 'windows-latest'
        run: |
          Set-Content -Path $RUNNER_TOOL_CACHE\test.php -Value '<?php echo "test"; ?>'
          phpmd $RUNNER_TOOL_CACHE\test.php text cleancode
      - name: Test phpmd
        if: matrix.operating-system != 'windows-latest'
        run: |
          echo '<?php echo "test"; ?>' > $RUNNER_TOOL_CACHE/test.php
          phpmd $RUNNER_TOOL_CACHE/test.php text cleancode
  versions:
    name: versions
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['7.3']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@releases/v1
        with:
          php-version: ${{ matrix.php-versions }}
          tools: php-cs-fixer:2.16.0, phpcs:3.5.2, phpcbf:3.5.2, phpcpd:4.0.0, phpstan:0.12.3, phpmd:2.8.0, codeception:3.1.2, cs2pr:1.0.1, phpunit:8.5.0, psalm:3.8.0, phinx:0.11.3, phive:0.13.1, deployer:6.7.2, prestissimo:0.3.8, composer-prefetcher:0.13.0, composer:1.2.3, pecl:1.2.3, symfony:4.12.3
      - name: Test action side effects
        run: php -r "if(strpos(@exec('git status'), 'nothing to commit') === false) {throw new Exception('Action has side effects');}"
      - name: Testing Tools
        run: |
          composer -V
          php-cs-fixer -V
          phpcs --version
          phpcbf --version
          phpcpd -V
          phpstan -V
          cs2pr version
          codeception -V
          phpunit --version
          psalm -v
          phinx -V
          phive status
          deployer -V
          symfony version
      - name: Test prestissimo
        run: composer global show hirak/prestissimo
        continue-on-error: true
      - name: Test composer-prefetcher
        run: composer global show narrowspark/automatic-composer-prefetcher
        continue-on-error: true
      - name: Test pecl
        if: matrix.operating-system != 'windows-latest'
        run: pecl -V
      - name: Test phpmd on windows
        if: matrix.operating-system == 'windows-latest'
        run: |
          Set-Content -Path $RUNNER_TOOL_CACHE\test.php -Value '<?php echo "test"; ?>'
          phpmd $RUNNER_TOOL_CACHE\test.php text cleancode
      - name: Test phpmd
        if: matrix.operating-system != 'windows-latest'
        run: |
          echo '<?php echo "test"; ?>' > $RUNNER_TOOL_CACHE/test.php
          phpmd $RUNNER_TOOL_CACHE/test.php text cleancode
  special:
    name: special
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['7.3']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@releases/v1
        with:
          php-version: ${{ matrix.php-versions }}
          tools: php-cs-fixer:100.100.100, phpcs:^3.5.2, phpcbf:>=3.5.2, phpcpd:<=4.0.0, phpstan:^0.12.3, invalid:1.2.3, invalid, prestissimo:100.100.100, hirak/prestissimo, composer
      - name: Test action side effects
        run: php -r "if(strpos(@exec('git status'), 'nothing to commit') === false) {throw new Exception('Action has side effects');}"
      - name: Testing Tools
        run: |
          composer -V
          phpcs --version
          phpcbf --version
          phpcpd -V
          phpstan -V
      - name: Test prestissimo
        run: composer global show hirak/prestissimo
