name: Tools develop workflow
on:
  push:
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  BLACKFIRE_SERVER_ID: ${{ secrets.BLACKFIRE_SERVER_ID }}
  BLACKFIRE_SERVER_TOKEN: ${{ secrets.BLACKFIRE_SERVER_TOKEN }}
  BLACKFIRE_CLIENT_ID: ${{ secrets.BLACKFIRE_CLIENT_ID }}
  BLACKFIRE_CLIENT_TOKEN: ${{ secrets.BLACKFIRE_CLIENT_TOKEN }}
jobs:
  latest:
    name: latest
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-24.04-arm, ubuntu-24.04, ubuntu-22.04, windows-latest, macos-latest]
        php-versions: ['8.2']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install PHP
        uses: shivammathur/setup-php@develop
        timeout-minutes: 30
        with:
          php-version: ${{ matrix.php-versions }}
          tools: behat, blackfire, churn, composer-require-checker, composer-normalize, flex, phan, infection, php-cs-fixer, phpcs, phpcbf, phpcpd, phpstan, phpspec, phpmd, cs2pr, codeception, phpunit, phpunit-bridge, phpunit-polyfills, psalm, phing, phinx, phive, deployer, protoc, pecl, phpdoc, phpize, php-config, rector, symfony, vapor-cli
      - name: Run simple-phpunit install
        run: simple-phpunit install
      - name: Test action side effects
        run: php -r "if(strpos(@exec('git status'), 'nothing to commit') === false) {throw new Exception('Action has side effects');}"
      - name: Print php.ini
        if: matrix.operating-system != 'windows-latest'
        run: cat $(php --ini | grep "Loaded Configuration" | sed -e "s|.*:s*||" | sed "s/ //g")
      - name: Testing Tools
        run: |
          behat -V
          blackfire version
          churn -V
          composer -V
          composer-require-checker -V
          composer-normalize -V
          phan -v
          infection -V
          php-cs-fixer -V
          phpcs --version
          phpcbf --version
          phpcpd --version
          phpDocumentor --version
          phpspec -V
          phpstan -V
          codeception -V
          cs2pr version
          phpunit --version
          psalm -v
          phing -v
          phinx -V
          phive status
          protoc --version
          deployer -V
          rector -V
          simple-phpunit --version
          symfony -V
          vapor -V
          php -r "if(preg_match('/.*Composer.* 2.*/', @exec('composer -V')) == 0) {throw new Exception('Wrong composer version');}"
      - name: Test flex
        run: composer global show symfony/flex
      - name: Test pecl, phpize, php-config
        if: matrix.operating-system != 'windows-latest'
        run: |
          pecl -V
          php-config --version
          phpize --version
      - name: Test phpmd on windows
        if: matrix.operating-system == 'windows-latest'
        run: |
          Set-Content -Path $RUNNER_TOOL_CACHE\test.php -Value '<?php echo "test"; ?>'
          phpmd $RUNNER_TOOL_CACHE\test.php text cleancode
      - name: Test phpmd
        if: matrix.operating-system != 'windows-latest'
        run: |
          echo '<?php echo "test"; ?>' > $RUNNER_TOOL_CACHE/test.php
          phpmd $RUNNER_TOOL_CACHE/test.php text cleancode
  versions:
    name: versions
    needs: latest
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-24.04, ubuntu-22.04, windows-latest, macos-latest]
        php-versions: ['8.0']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install PHP
        uses: shivammathur/setup-php@develop
        timeout-minutes: 30
        with:
          php-version: ${{ matrix.php-versions }}
          tools: behat:3.6.1, churn:1.6.0, infection:0.20.0, flex:2.1.6, phan:4.0.2, php-cs-fixer:2.18.0, phpcs:3.5.2, phpcbf:3.5.8, phpcpd:6.0.3, phpDocumentor:3.1.2 ,phpspec:7.0.1, phpstan:0.12.68, phpmd:2.9.1, cs2pr:1.4.0, phpunit:9.5.1, phpunit-bridge:5.2.12, phpunit-polyfills:1.0.0, psalm:4.4.1, phing:2.16.3, phinx:0.12.4, phive:0.14.5, deployer:6.8.0, composer:2.2.1, pecl:1.2.3, rector:0.13.8, symfony, vapor-cli:1.11.1
      - name: Run simple-phpunit install
        run: simple-phpunit install
      - name: Test action side effects
        run: php -r "if(strpos(@exec('git status'), 'nothing to commit') === false) {throw new Exception('Action has side effects');}"
      - name: Testing Tools
        run: |
          behat -V
          churn -V
          composer -V
          phan -v
          infection -V
          php-cs-fixer -V
          phpcs --version
          phpcbf --version
          phpcpd --version
          phpdoc --version
          phpspec -V
          phpstan -V
          cs2pr version
          phpunit --version
          psalm -v
          phing -v
          phinx -V
          phive status
          deployer -V
          rector -V
          simple-phpunit --version
          symfony -V
          vapor -V
          php -r "if(preg_match('/.*Composer.* 2.*/', @exec('composer -V')) == 0) {throw new Exception('Wrong composer version');}"
      - name: Test flex
        run: composer global show symfony/flex
      - name: Test pecl
        if: matrix.operating-system != 'windows-latest'
        run: pecl -V
      - name: Test phpmd on windows
        if: matrix.operating-system == 'windows-latest'
        run: |
          Set-Content -Path $RUNNER_TOOL_CACHE\test.php -Value '<?php echo "test"; ?>'
          phpmd $RUNNER_TOOL_CACHE\test.php text cleancode
      - name: Test phpmd
        if: matrix.operating-system != 'windows-latest'
        run: |
          echo '<?php echo "test"; ?>' > $RUNNER_TOOL_CACHE/test.php
          phpmd $RUNNER_TOOL_CACHE/test.php text cleancode
  major_minor:
    name: major_minor
    needs: versions
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-24.04, ubuntu-22.04, windows-latest, macos-latest]
        php-versions: ['8.0']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install PHP
        uses: shivammathur/setup-php@develop
        timeout-minutes: 30
        with:
          php-version: ${{ matrix.php-versions }}
          tools: behat:3.6, infection:0.20.x, churn:1.5, flex:v2, phan:4.0, php-cs-fixer:2.18, phpcs:3.5.x, phpcbf:3.5, phpcpd:v6.x, phpDocumentor:3.1, phpspec:7.0, phpstan:0.12, phpmd:2.9, cs2pr:1.4, phpunit:9.5, phpunit-bridge:5, phpunit-polyfills:1.0, psalm:4.4, phing:2.x, phinx:0.12, phive:0.14, deployer:v6, composer:2.0.x, symfony-cli, vapor-cli:1.11
      - name: Run simple-phpunit install
        run: simple-phpunit install
      - name: Test action side effects
        run: php -r "if(strpos(@exec('git status'), 'nothing to commit') === false) {throw new Exception('Action has side effects');}"
      - name: Testing Tools
        run: |
          behat -V
          churn -V
          composer -V
          phan -v
          infection -V
          php-cs-fixer -V
          phpcs --version
          phpcbf --version
          phpcpd --version
          phpdocumentor --version
          phpspec -V
          phpstan -V
          cs2pr version
          phpunit --version
          psalm -v
          phing -v
          phinx -V
          phive status
          deployer -V
          simple-phpunit --version
          symfony -V
          vapor -V
          php -r "if(preg_match('/.*Composer.* 2.*/', @exec('composer -V')) == 0) {throw new Exception('Wrong composer version');}"
      - name: Test flex
        run: composer global show symfony/flex
      - name: Test pecl
        if: matrix.operating-system != 'windows-latest'
        run: pecl -V
      - name: Test phpmd on windows
        if: matrix.operating-system == 'windows-latest'
        run: |
          Set-Content -Path $RUNNER_TOOL_CACHE\test.php -Value '<?php echo "test"; ?>'
          phpmd $RUNNER_TOOL_CACHE\test.php text cleancode
      - name: Test phpmd
        if: matrix.operating-system != 'windows-latest'
        run: |
          echo '<?php echo "test"; ?>' > $RUNNER_TOOL_CACHE/test.php
          phpmd $RUNNER_TOOL_CACHE/test.php text cleancode
  old_versions:
    name: old_versions
    needs: major_minor
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-24.04, ubuntu-22.04, windows-latest, macos-15]
        php-versions: ['5.5']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install PHP
        uses: shivammathur/setup-php@develop
        timeout-minutes: 30
        with:
          php-version: ${{ matrix.php-versions }}
          tools: blackfire, php-cs-fixer:2.2.20, phpcs:2.9.2, phpcbf:2.9.2, phpcpd:2.0.4, phpdoc:2.9.1, phpmd:2.8.0, codeception:2.3.5, cs2pr:1.0.2, phpunit:4.8.36, phpunit-bridge:5.2.12, phpunit-polyfills:1.0.1, phing:2.16.2, phinx:0.5.0, deployer:2.0.0
      - name: Run simple-phpunit install
        run: simple-phpunit install
      - name: Test action side effects
        run: php -r "if(strpos(@exec('git status'), 'nothing to commit') === false) {throw new Exception('Action has side effects');}"
      - name: Testing Tools
        run: |
          blackfire version
          composer -V
          php-cs-fixer -V
          phpcs --version
          phpcbf --version
          phpcpd -V
          phpDocumentor --version
          codeception -V
          phpunit --version
          cs2pr version
          phing -v
          phinx -V
          deployer -V
          simple-phpunit --version
          php -r "if(preg_match('/.*Composer.* 2.*/', @exec('composer -V')) == 0) {throw new Exception('Wrong composer version');}"
      - name: Test pecl
        if: matrix.operating-system != 'windows-latest'
        run: pecl -V
      - name: Test phpmd on windows
        if: matrix.operating-system == 'windows-latest'
        run: |
          Set-Content -Path $RUNNER_TOOL_CACHE\test.php -Value '<?php echo "test"; ?>'
          phpmd $RUNNER_TOOL_CACHE\test.php text cleancode
      - name: Test phpmd
        if: matrix.operating-system != 'windows-latest'
        run: |
          echo '<?php echo "test"; ?>' > $RUNNER_TOOL_CACHE/test.php
          phpmd $RUNNER_TOOL_CACHE/test.php text cleancode
  special:
    name: special
    needs: old_versions
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-24.04, ubuntu-22.04, windows-latest, macos-latest]
        php-versions: ['8.0']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install PHP
        uses: shivammathur/setup-php@develop
        timeout-minutes: 30
        with:
          php-version: ${{ matrix.php-versions }}
          tools: composer:v1, php-cs-fixer:100.100.100, phpcs:^3.5.8, phpcbf:>=3.5.8, phpcpd:<=6.0.3, phpstan:^0.12.68, invalid:1.2.3, invalid, prestissimo:100.100.100, hirak/prestissimo, symfony/flex
      - name: Test action side effects
        run: php -r "if(strpos(@exec('git status'), 'nothing to commit') === false) {throw new Exception('Action has side effects');}"
      - name: Testing Tools
        run: |
          composer -V
          php -r "if(preg_match('/.*Composer.* 1.*/', @exec('composer -V')) == 0) {throw new Exception('Wrong composer version');}"
          phpcs --version
          phpcbf --version
          phpcpd --version
          phpstan -V
      - name: Test flex
        run: composer global show symfony/flex
      - name: Test prestissimo
        run: composer global show hirak/prestissimo
