name: nightly workflow
on:
  push:
jobs:
  ubuntu:
    name: nightly
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-18.04, ubuntu-16.04]
    steps:
      - name: Setup PHP 8.1
        uses: shivammathur/setup-php@verbose
        with:
          php-version: 8.1
          coverage: none          
      - name: Check PHP 8.1
        run: php -v && php -m
      - uses: mxschmitt/action-tmate@v3.3
