name: 'Test Xdebug'
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [macos-latest]
        php-versions: ['7.1', '7.2', '7.3', '7.4', '8.0']
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup extensions
        run: |
          brew tap shivammathur/extensions
          brew install pcov@${{ matrix.php-versions }}
          brew install xdebug@${{ matrix.php-versions }}
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
      - name: Testing PHP version
        run: php -v
      - name: Check extensions
        run: php -m
