name: Experimental workflow
on: [push]
jobs:
  run:
    name: Run
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, ubuntu-16.04]
        php-versions: ['8.0']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install zip
        run: sudo apt-cache policy libzip-dev

      - name: Setup PHP
        uses: shivammathur/setup-php@verbose
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Testing PHP version
        run: php -v

      - name: Testing PHP extensions
        run: php -m
