name: Experimental workflow
on: [push]
jobs:
  run:
    name: Run
    #runs-on: ubuntu-latest
    runs-on: ${{ matrix.operating-system }}
    #container: ubuntu:focal
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-20.04, ubuntu-18.04, ubuntu-16.04]
        php-versions: ['8.0']
    steps:        
      - name: Checkout
        uses: actions/checkout@v2      

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: pcov

      - name: Testing PHP version
        run: php -v

      - name: Testing PHP extensions
        run: php -m        
