name: Experimental workflow
on: [push]
jobs:
  run:
    name: Run
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-20.04, ubuntu-18.04, ubuntu-16.04, macos-latest]
        php-versions: ['8.0']
    steps:        
      - name: Checkout
        uses: actions/checkout@v2        

      - name: Setup PHP
        uses: shivammathur/setup-php@verbose
        with:
          php-version: ${{ matrix.php-versions }}  
        
      - name: Testing PHP version
        run: |
          php-fpm -v || true

      - name: Testing PHP extensions
        run: php -m
        
      - name: Testing Composer
        run: composer -V
