name: nightly workflow
on:
  push:
jobs:
  ubuntu:
    name: nightly
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-18.04, ubuntu-16.04]
    steps:
      - uses: mxschmitt/action-tmate@v3.5    
      - name: Setup PHP 8.1
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1      
      - name: Check PHP 8.1
        run: php -v && php -m
