name: 'Test Xdebug'
on:
  push:
jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [macos-latest]
        php-versions: ['8.0']
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }} with ${{ matrix.coverage }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
      - name: setup Xdebug
        run: |
          xcrun --show-sdk-path
          (
            cd ~ && git clone https://github.com/xdebug/xdebug.git
            cd xdebug || echo "Failed to clone Xdebug"
            sudo phpize
            sudo ./configure --enable-xdebug
            sudo make
            sudo make install
            echo "zend_extension=xdebug.so" >> $(php --ini | grep "Loaded Configuration" | sed -e "s|.*:s*||" | sed "s/ //g")
          )
      - name: Testing PHP version
        run: php -v
      - name: Check extensions
        run: php -m
