name: nightly workflow
on:
  repository_dispatch:
  push:
jobs:
  ubuntu:
    name: nightly
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-10.15, macos-11.0]
        php-versions: ['8.0', '8.1']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install PHP
        uses: shivammathur/setup-php@verbose
        with:
          php-version: ${{ matrix.php-versions }}
      - name: Check PHP version
        run: php -v
      - name: Check PHP extensions
        run: php -m
